/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* container */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 95%;
  }
}

/* Side Nav */

.sidenav {
	width: 315px;
}
nav, main, footer {
      padding-left: 315px;
    }

    @media only screen and (max-width : 992px) {
      nav, main, footer {
        padding-left: 0;
      }
    }

.sidenav .collapsible,
.sidenav.fixed .collapsible {
    border: none;
    box-shadow: none
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
    padding: 0
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 24px
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
    line-height: inherit
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px
}

.sidenav .collapsible {
    margin: 0
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: #448AFF
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active a,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a {
    color: #fff
}

.sidenav .collapsible-body {
    padding: 0
}

.sidenav .collapsible {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.sidenav .collapsible>.active .collapsible-header .chevron {
    transform: rotate(-90deg)
}

.sidenav .collapsible>li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: background-color .2s
}

.sidenav .collapsible>li:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.sidenav .collapsible>li.waves-effect {
    display: block
}

.sidenav .collapsible>li:last-child {
    border-bottom: 0
}

.sidenav .collapsible .collapsible-header {
    text-transform: uppercase;
    height: 64px;
    line-height: 64px
}

.sidenav .collapsible .collapsible-header:hover {
    background-color: transparent
}

.sidenav .collapsible .collapsible-header .chevron {
    float: right;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 20px 0 0 0;
    transition: transform .2s
}

.sidenav .collapsible .collapsible-body {
    padding-bottom: 16px;
    background-color: transparent
}

.sidenav .collapsible .collapsible-body li>a {
    padding: 0 16px;
    transition: background-color .2s ease-out
}

.sidenav .collapsible .collapsible-body li>a:hover,
.sidenav .collapsible .collapsible-body li>a.active {
    background-color: rgba(0, 0, 0, 0.07)
}

.sidenav .collapsible .collapsible-body li>a>i.material-icons {
    margin-right: 16px
}

.keyboard-focused .sidenav .collapsible-header:focus {
    background-color: rgba(0, 0, 0, 0.1)
}

.keyboard-focused .sidenav .collapsible-body li>a:focus {
    background-color: rgba(0, 0, 0, 0.07);
    outline: none
}

/* UI */

.nohilite:focus {
	outline: none;
}

.font-weight-normal {
	font-weight: normal !important;
}

/* icons */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* tables */

.dark-table tr {
border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.dark-table thead tr {
border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.dark-table.highlight > tbody > tr:hover {
  background-color: rgba(242, 242, 242, 0.1);
}


/* badges */

span.badge.badgebtn {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
}

/* glass */
		.glass {
    background-color: rgba(0, 0, 0, 0.75);
}
	.sideglass {
    background-color: rgba(0, 0, 0, 0.85);
}
